{{ define "main" }}
  <div class="page-content">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Pages.ByDate.Reverse }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format "02 Jan 2006" }}
      <time class="section-label post-date post-list-date" datetime="{{ $dateMachine }}">Published / {{ $dateHuman }}</time>
      {{ .Summary }}
    {{ end }}
  </div>
{{ end }}
